<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- link font-awesome  -->
    <link
      rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- library swipper -->
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css}"
    />
    <!-- link css file  -->
    <link rel="stylesheet" th:href="@{/css/Manage_Doctor/Doctor_list/HomeStyle.css}" />
    <title>Doctor</title>
  </head>
  <body>
    <!-- header section  -->
    <header class="header">
      <a href="#" class="logo">
        <div class="BKUlogo">
          <img th:src="@{/img/Logo/logo.png}" alt="">
        </div>
        HCMUT
      </a>

      <nav class="navbar">
        <a th:href="@{/#home}">Trang chủ</a>
        <a th:href="@{/#features}">Chức năng</a>
        <a th:href="@{/#info}">Thông tin</a>
        <a th:href="@{/#achieve}">Thành tựu</a>
        <a th:href="@{/#contact}">Liên hệ</a>
      </nav>

      <div class="login-btn">
        <button class="user btn">
          <i class="fa-solid fa-user"></i>
          <a href="#">Tài khoản</a>
        </button>
      </div>

      <script>
        document.querySelector(".login-btn").addEventListener("click", () => {
          window.location.href = "/login";
        });
      </script>
    </header>
    <!-- end header  -->
    <!-- ======Sreach====== -->
    <section class="table_header">
      <h1>TÌM KIẾM BÁC SĨ</h1>
    </section>

    <div class="search">
      <div class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text" value="" placeholder="Tên bác sĩ" />
      <button class="search-btn">Tìm kiếm</button>
    </div>
    <!-- Team -->

<!--    Ô tự sửa lại đường link đi-->
    <section class="slider-doctor">
      <div class="container">
        <div class="slider-doctor-content">
          <div class="slider-doctor-content-tittle">
            <h1>Đội ngũ bác sĩ</h1>
          </div>
          <div class="slider-doctor-container">
            <div class="slider-doctor-content-items">
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc1.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc2.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc3.png}" alt="" />

                <div class="slider-doctor-content-item-text">
                  <p>Dr</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc2.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
          </div>
          <div class="slider-doctor-content-items">
            <div class="slider-doctor-content-item">
              <img th:src="@{/img/Manage_Doctor/Doctor_list/doc3.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
              <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc3.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc3.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              <div class="slider-doctor-content-item">
                <img th:src="@{/img/Manage_Doctor/Doctor_list/doc3.png}" alt="" />
                <div class="slider-doctor-content-item-text">
                  <p>Dr.</p>
                  <p>Chuyên Khoa</p>
                </div>
                <a th:href="@{/doctor/info}" target="_blank"><b>More info</b></a>
              </div>
              
          </div>
          <div class="slider-btn">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </section>


    <!-- start footer  -->
    <section class="footer">
      <div class="footer-container">

        <div class="footer-box">

          <div class="footer-BKUlogo">
            <img th:src="@{/static/img/Logo/logo-footer.jpg}" alt="">
            <div class="footer-logo-content">
              <span>HOSPITAL HCMUT UNIVERSITY</span>
              <p>Bệnh viện chuyên chăm sóc, hồi sức cho sinh viên BKU :< </p>
            </div>
          </div>

          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>

          <span>LƯỢT TRUY CẬP: 99,999,999</span>
        </div>

        <div class="footer-box">
          <h3>Thông tin liên hệ hỗ trợ</h3>
          <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
          <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
          <a href="#" class="links"> <i class="fas fa-envelope"></i> kiet.phantuan17@hcmut.edu.vn </a>
          <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 1: 268 Lý Thường Kiệt, Phường
            14, Quận 10, TP. HCM (Bản đồ) </a>
          <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 2: Khu phố Tân Lập, Phường
            Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương (Bản đồ)</a>

        </div>

        <div class="footer-box">
          <h3>Truy cập</h3>
          <a th:href="@{/#home}" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
          <a th:href="@{/#features}" class="links"> <i class="fas fa-arrow-right"></i> Chức năng </a>
          <a th:href="@{/#info}" class="links"> <i class="fas fa-arrow-right"></i> Thông tin </a>
          <a th:href="@{/#achieve}" class="links"> <i class="fas fa-arrow-right"></i> Thành tựu </a>
          <a th:href="@{/#contact}" class="links"> <i class="fas fa-arrow-right"></i> Liên hệ </a>
        </div>
      </div>

    </section>
    <!-- end footer  -->

    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js}"></script>
    <!-- custom file js -->
    <script th:src="@{/script/Manage_Doctor/Doctor_list/HomeScript.js}"></script>
  </body>
</html>
