.wrapper {
    display: block;
    margin-top: 5%;
}

.wrapper h1 {
    color: #0073B1;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}


.section {
    padding: 2rem 9%;
}


.table_header {
    margin-top: 100px;
}

.table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--strong-box-shadow);
    margin-top: 10px;
}

.table_header {
    font-size: 2rem;
}

.table_body {
    font-size: 1.5rem;
    max-width: 75vw;
    max-height: 60vh;
    background-color: #fff;
    /* box-shadow: var(--strong-box-shadow); */
    margin-top: 10px;
    overflow: hidden;
    /* border-radius: 1rem; */
    /* position: relative; */
    /* width: 100%;
    max-height: 100%; */
    margin: 0;
    overflow: auto;
    height: 100%;
}

table,
th,
td {
    padding: 1rem 1.5rem;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
    border: var(--border);
    box-shadow: var(--box-shadow);
}


.table_body::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: visible;

}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

thead th {
    font-size: 1.7rem;
    background-color: var(--primary-blue);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03)
}

tbody tr:hover {
    background-color: var(--gray);
    cursor: pointer;
}

tbody .delete:hover {
    text-decoration: underline;
    color: red;
}

.button {
    text-align: center;
}

.button button {
    padding: 1rem;
    border: var(--border);
    border-radius: 5px;
    background-color: #0073B1;
    font-size: 15px;
    font-weight: 600;

    margin-left: 5%;
    margin-right: 5%;

    font-weight: 500;
}

.button button:hover {
    background-color: var(--gray);
}

.table_body .Information:hover {
    text-decoration: underline;
    color: blue;
}


/* Search  */

.search {
    background-color: #fff;
    box-shadow: var(--box-shadow);

    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    overflow: hidden;
    width: 40%;
    height: 35px;
    margin-left: 30%;
    margin-right: 30%;
}


.search .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .search-icon i {
    font-size: 1.5rem;
}

.search button {

    background-color: var(--primary-blue);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 1rem;

}

.search button:hover {
    background-color: var(--gray)
}

/* Form */

.info .FORM .Product {
    margin-top: 2%;
    display: grid;
}

.info .FORM label {
    margin-bottom: 2%;
    font-size: 20px;
    color: #0073B1;
}

.info .FORM input {
    padding: 1%;
    font-size: 15px;
    margin-bottom: 2%;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.info .FORM input[type="checkbox"] {

    width: 20px;
    height: 20px;

    margin-left: 1%;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}




.New_Product input,
textarea {
    width: 50%;
    height: auto;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.text-box {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.text-box label {
    text-align: center;
}

.New_Product {
    opacity: 0.5;
    pointer-events: none;
    color: #666;
}