<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital | Hồi sức HCMUT</title>
    <!-- link css file  -->
    <link rel="stylesheet" th:href="@{/css/Hospital_Home/HomeStyle.css}">
    <!-- link font-awesome  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- library swipper -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css}"/>

</head>

<style>
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url([[@{/img/Hospital_Home/hospital.jpg}]]) no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 17rem;
        padding-bottom: 10rem;
        height: 100vh;
        background-position-y: 0rem;
    }
</style>


<body>
    
    <!-- header section  -->
    <header class="header">
        <a href="#" class="logo">
            <div class="BKUlogo">
                <img th:src="@{/img/Logo/logo.png}" alt="">
            </div>
            HCMUT
        </a>

        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#features">Chức năng</a>
            <a href="#info">Thông tin</a>
            <a href="#achieve">Thành tựu</a>
            <a href="#contact">Liên hệ</a>
        </nav>

        <div class="login-btn">
            <button class="user btn">
                <i class="fa-solid fa-user"></i>
                <a href="#">Tài khoản</a>
            </button>
            <button class="logout btn">
                <a href="#">Đăng xuât</a>
            </button>
        </div>
    </header>

    <!-- end header  -->


    <!-- start home  -->

    <div class="home-page">
        <div class="content"> 
            <h1>HOSPITAL HCMUT UNIVERSITY</h1>
            <span>Care for Health, Spread Hope</span>
        </div>

        <section class="home" id="home">
        </section>
    </div>

    <!-- end home  -->

    <!-- start feature -->
    <section class="feature" id="features"> 
        <h1 class="heading">CHỨC NĂNG</span></h1>
        <div class="feature-area">
            
            <div class="feature-box patient_info">
                <span>THÔNG TIN BỆNH NHÂN</span>
            </div>
            <div class="feature-box schedule_info">
                <span>LỊCH TRÌNH LÀM VIỆC</span>
            </div>
            <div class="feature-box">
                <span>NGHỈ PHÉP/CHUYỂN CA</span>
            </div>
            <div class="feature-box doctor_info">
                <span>THÔNG TIN NHÂN VIÊN</span>
            </div>
            <div class="feature-box tool_info">
                <span>QUẢN LÝ TRANG THIẾT BỊ</span>
            </div>
            <div class="feature-box medicine_info">
                <span>QUẢN LÝ THUỐC</span>
            </div>
            <div class="feature-box">
                <span>QUẢN LÝ BỆNH NHÂN</span>
            </div>
            <div class="feature-box">
                <span>SẮP XẾP LỊCH TRÌNH</span>
            </div>
            <div class="feature-box">
                <span>QUẢN LÝ PHÒNG ĐIỀU TRỊ</span>
            </div>

        </div>
    </section>

    <!-- end feature  -->

    <!-- start infomation  -->

    <section class="info" id="info">
        <h1 class="heading">ĐỘI NGŨ BÁC SĨ ƯU TÚ</span></h1>

        <div class="swiper doctor-slider">

            <div class="swiper-wrapper doctor-container">

                <div class="swiper-slide doctor-box">
                    <img th:src="@{/img/Hospital_Home/doctor.jpg}" alt="">
                    <div class="doctor-icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <h3>GS. Phan Tuấn Kiệt</h3>
                </div>
                <div class="swiper-slide doctor-box">
                    <img th:src="@{/img/Hospital_Home/doctor.jpg}" alt="">
                    <div class="doctor-icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <h3>GS. Phan Tuấn Kiệt</h3>
                </div>
                <div class="swiper-slide doctor-box">
                    <img th:src="@{/img/Hospital_Home/doctor.jpg}" alt="">
                    <div class="doctor-icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <h3>GS. Phan Tuấn Kiệt</h3>
                </div>
                <div class="swiper-slide doctor-box">
                    <img th:src="@{/img/Hospital_Home/doctor.jpg}" alt="">
                    <div class="doctor-icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <h3>GS. Phan Tuấn Kiệt</h3>
                </div>
                <div class="swiper-slide doctor-box">
                    <img th:src="@{/img/Hospital_Home/doctor.jpg}" alt="">
                    <div class="doctor-icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <h3>GS. Phan Tuấn Kiệt</h3>
                </div>
                <div class="swiper-slide doctor-box">
                    <img th:src="@{/img/Hospital_Home/doctor.jpg}" alt="">
                    <div class="doctor-icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <h3>GS. Phan Tuấn Kiệt</h3>
                </div>
            </div>
        </div>

    </section>

    <!-- end information  -->

    <!-- start achievements -->

    <section class="achieve" id="achieve">
        <h1 class="heading">THÀNH TỰU NỔI BẬT</span></h1>

        <div class="container">
            <div class="box">
                <div class="img">
                    <img th:src="@{/img/Hospital_Home/facilities.jpg}" alt="">
                </div>
                <h3>Cơ sở vật chất hiện đại</h3>
                <span>Bệnh viện với hơn 3000 phòng bệnh, 1000 thiết bị tiên tiến và đội ngũ hơn 300 chuyên viên kỹ thật trình độ cao</span>
            </div>

            <div class="box">
                <div class="img">
                    <img th:src="@{/img/Hospital_Home/colab.jpg}" alt="">
                </div>
                <h3>Hợp tác quốc tế</h3>
                <span>Đến năm 2024, bệnh viện đã có hơn 10 doanh nghiệp quốc tế hợp tác, hỗ trợ nghiên cứu, đầu tư và phát triển</span>
            </div>

            <div class="box">
                <div class="img">
                    <img th:src="@{/img/Hospital_Home/takecare.jpg}" alt="">
                </div>
                <h3>Hiệu quả điều trị cao</h3>
                <span>Bệnh viện có quá trình chăm sóc và điều trị toàn diện, khoa học và mang lại hiệu quả vượt trội</span>
            </div>
        </div>

        
    </section>

    <!-- end achievements -->

    <!-- start contact -->
    <section class="contact" id="contact">
        <h1 class="heading">TƯ VẤN VÀ ĐẶC LỊCH KHÁM</span></h1>

        <div class="container">
            <div class="form">
                <input type="text" class="personal-info name" placeholder="Họ và tên">
                <input type="text" class="personal-info email" placeholder="Email">
                <input type="number" class="personal-info phone" placeholder="Số điện thoại">
                <textarea class="personal-info content" cols="30" rows="5" placeholder="Nội dung"></textarea>
                <div class="submit-btn">
                    <button class="btn">GỬI</button>
                </div>
                
            </div>

            <div class="picture">
                <span class="text">
                    Để lại thông tin để chúng tôi có thể tư vấn và hỗ trợ bạn!</span>
                <img th:src="@{/img/Hospital_Home/backgroung.jpg}" alt="">
            </div>
        </div>

    </section>
    <!-- end contact  -->

    <!-- start footer  -->
    <section class="footer">
        <div class="footer-container">

            <div class="footer-box">

                <div class="footer-BKUlogo">
                    <img th:src="@{/static/img/Logo/logo-footer.jpg}" alt="">
                    <div class="footer-logo-content">
                        <span>HOSPITAL HCMUT UNIVERSITY</span>
                        <p>Bệnh viện chuyên chăm sóc, hồi sức cho sinh viên BKU :< </p>
                    </div>
                </div>

                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>

                <span>LƯỢT TRUY CẬP: 99,999,999</span>
            </div>

            <div class="footer-box">
                <h3>Thông tin liên hệ hỗ trợ</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> kiet.phantuan17@hcmut.edu.vn </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 1: 268 Lý Thường Kiệt, Phường
                    14, Quận 10, TP. HCM (Bản đồ) </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 2: Khu phố Tân Lập, Phường
                    Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương (Bản đồ)</a>

            </div>

            <div class="footer-box">
                <h3>Truy cập</h3>
                <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
                <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Chức năng </a>
                <a href="#info" class="links"> <i class="fas fa-arrow-right"></i> Thông tin </a>
                <a href="#achieve" class="links"> <i class="fas fa-arrow-right"></i> Thành tựu </a>
                <a href="#contact" class="links"> <i class="fas fa-arrow-right"></i> Liên hệ </a>
            </div>
        </div>

    </section>
    <!-- end footer  -->

<script th:src="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js}"></script>
<!-- custom file js -->
<script th:src="@{/script/Hospital_Home/HomeScript.js?version=4.0}"></script>
</body>
</html>