<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/Login_Page/Login.css}" />
    <title>Đăng nhập (Đăng ký)</title>
  </head>

  <style>
    body {
      background: url([[@{/img/Login_Page/Trường_Đại_học_Bách_khoa_vào_Xuân.jpg}]]);
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
    }
  </style>

  <body>
    <div class="container" id="container">
    <div class="form-container sign-in">
      <form>
        <h1>Đăng nhập</h1>
        <div class="social-icons">
          <a href="#" class="icon"
          ><i class="fa-brands fa-google-plus-g"></i
          ></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <input type="text" placeholder="Tài khoản" />
        <input type="password" placeholder="Mật khẩu" />
        <a href="#">Quên mật khẩu hay tài khoản?</a>
        <button>Đăng nhập</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-right">
          <h1>Xin chào!</h1>
          <p>
            Chào mừng bạn quay trở lại với Bệnh viện Hồi sức Bách Khoa TPHCM
            !!!
          </p>
          <p>
            Sử dụng tài khoản và mật khẩu để truy cập nhé (love you 3000).
          </p>
        </div>
      </div>
    </div>
  </div>

    <script th:src="@{script/Login_Page/script.js}"></script>
  </body>
</html>
