<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/Login_Page/Login.css}" />
    <title>Đăng nhập (Đăng ký)</title>
  </head>



  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form>
          <h1>Đăng Ký</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <span>Sử dụng email để đăng ký</span>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Đăng Ký</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form>
          <h1>Đăng nhập</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <span>Sử dụng tài khoản và mật khẩu để đăng nhập</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Quên mật khẩu hay tài khoản?</a>
          <button>Đăng nhập</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Chào mừng trở lại!</h1>
            <p>Điền thông tin đăng nhập ở đây nhé !!!</p>
            <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Xin chào!</h1>
            <p>Đăng ký ở đây với thông tin cá nhân của bạn nhé !!!</p>
            <button class="hidden" id="register">Đăng Ký</button>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{script/Login_Page/script.js}"></script>
  </body>
</html>
