<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital | Hồi sức HCMUT</title>
    <!-- link css file  -->
    <link rel="stylesheet" href="./style.css">
    <!-- link font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <!-- header section  -->
    <header class="header">
        <a href="#" class="logo">
            <div class="BKUlogo">
                <img src="./img/logo.png" alt="">
            </div>
            HCMUT
        </a>

        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#features">Chức năng</a>
            <a href="#info">Thông tin</a>
            <a href="#achieve">Thành tựu</a>
            <a href="#contact">Liên hệ</a>
        </nav>

        <div class="login-btn">
            <button class="user">
                <i class="fa-solid fa-user"></i>
                <a href="#">Tài khoản</a>
            </button>
        </div>

    </header>
    <!-- end header  -->


   
    <!-- CODE HERE -->
    <div class="main">
        <button class="create-btn">Thêm</button>
        <div class="week">
            <div class="week__day detail__right">
                <h2 class="day">Thứ 2</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <div class="task__day">30-3-2024</div>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>30-3-2024 7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Phẫu thuật</h3>
                            <p class="task__location">Phòng phẫu thuật số 1</p>
                            <p class="task__time">13PM - 15PM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Phẫu thuật</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng phẫu thuật số 1</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>13PM - 15PM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week__day detail__right">
                <h2 class="day">Thứ 3</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week__day detail__right">
                <h2 class="day">Thứ 4</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week__day detail__right">
                <h2 class="day">Thứ 5</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week__day detail__left">
                <h2 class="day">Thứ 6</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week__day detail__left">
                <h2 class="day">Thứ 7</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week__day detail__left">
                <h2 class="day">Chủ Nhật</h2>
                <div class="task-lists">
                    <div class="task">
                        <div class="task__short-description">
                            <h3 class="task__name">Khám bệnh</h3>
                            <p class="task__location">Phòng H1-201</p>
                            <p class="task__time">7AM - 9AM</p>
                        </div>
                        <div class="task__detail">
                            <div class="head">
                                <div class="delete__task detail__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="task__problem detail__icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="detail__close detail__icon">
                                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="detail__name">Khám bệnh</h3>
                                <div class="detail__location">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>Phòng H1-201</p>
                                </div>
                                <div class="detail__time">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <p>7AM - 9AM</p>
                                </div>
                                <div class="detail__patient-info">
                                    <div class="detail__icon">
                                        <i class="fa-solid fa-person"></i>
                                    </div>
                                    <p class="patient-info">Thông tin bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
    <div class="space"></div>
    <div class="form">
        <div class="form__body">
            <form action="">
                <div class="form__close">
                    <i style="font-size: 25px;" class="fa-solid fa-xmark"></i>
                </div>
                <div class="name">
                    <input type="text" class="name__value" placeholder="Tên công việc" required>
                </div>
                <div class="day-time">
                    <div class="day">
                        <input class="cursor-pointer day__value" type="date" name="" required>
                    </div>
                    <div class="time">
                        <input class="cursor-pointer time__from" type="time" required>
                        <p style="font-size: 2rem;"> - </p>
                        <input class="cursor-pointer time__to" type="time" required>
                    </div>
                </div>
                <div class="location">
                    <input type="text" class="location__value" placeholder="Địa điểm" required>
                </div>
                <div class="patient">
                    <input type="text" name="" class="patient__value" placeholder="Thông tin bệnh nhân" required>
                </div>
                <button class="cursor-pointer submit" type="submit">Xong</button>
            </form>
        </div>
    </div>
    <!-- STOP CODE HERE -->
    <!-- start footer  -->
    <section class="footer">
        <div class="footer-container">

            <div class="footer-box">

                <div class="footer-BKUlogo">
                    <img src="./img/logo-footer.jpg" alt="">
                    <div class="footer-logo-content">
                        <span>HOSPITAL HCMUT UNIVERSITY</span>
                        <p>Bệnh viện chuyên chăm sóc, hồi sức cho sinh viên BKU :< </p>
                    </div>
                </div>
                
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>

                <span>LƯỢT TRUY CẬP: 99,999,999</span>
            </div>

            <div class="footer-box">
                <h3>Thông tin liên hệ hỗ trợ</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> kiet.phantuan17@hcmut.edu.vn </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 1: 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM (Bản đồ) </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 2: Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương (Bản đồ)</a>

            </div>

            <div class="footer-box">
                <h3>Truy cập</h3>
                <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
                <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Chức năng </a>
                <a href="#info" class="links"> <i class="fas fa-arrow-right"></i> Thông tin </a>
                <a href="#achieve" class="links"> <i class="fas fa-arrow-right"></i> Thành tựu </a>
                <a href="#contact" class="links"> <i class="fas fa-arrow-right"></i> Liên hệ </a>
            </div>
        </div>

    </section>
    <!-- end footer  -->

</body>
</html>