<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Medicine info| Thông tin thuốc</title>

    <link rel="stylesheet" href="../static/Style/headerAndfooter.css">

    <link rel="stylesheet" href="../static/Style/medicineinfo.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>





<body>
    <header class="header">
        <a href="#" class="logo">
            <div class="BKUlogo">
                <img src="../static/img/logo.png" alt="">
            </div>
            HCMUT
        </a>

        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#features">Chức năng</a>
            <a href="#info">Thông tin</a>
            <a href="#achieve">Thành tựu</a>
            <a href="#contact">Liên hệ</a>
        </nav>

        <div class="login-btn">
            <button class="user btn">
                <i class="fa-solid fa-user"></i>
                <a href="#">Tài khoản</a>
            </button>
        </div>
    </header>




    <section class="wrapper">

        <h1>THÔNG TIN THUỐC</h1>

        <div class="Information">

        </div>
    </section>

    <section class="layout">

        <div class="layout-1">
            <img src="../static/img/20240225121050-0-P00414_1_l.png" alt="">
        </div>

        <div class="layout-2">
            <div class="container">
                <h2>Abobotulinum Toxin A</h2>
                <span style="font-size: 12px; color: #878686;">Dạng bào chế - biệt dược</span>
                <h5>Nhóm thuốc - Tác dụng:
                    <span>Thuốc phong bế thần kinh cơ, giãn cơ.</span>
                </h5>

                <h5>Chỉ định
                    <p>Co cứng cơ cổ, nếp nhăn vùng trán (người bệnh dưới 65 tuổi), rung giật nhãn cầu mắc phải, nứt
                        hậu môn, co cứng cánh tay, chảy nước dãi, liệt cứng ở người bệnh bại não, co cứng cơ mí mắt, co
                        cứng nửa mặt.</p>
                </h5>
                <h5>Chống chỉ định:
                    <span>Quá mẫn với thành phần của thuốc.</span>
                </h5>

                <h5>Tình trạng thuốc: <span>Còn hàng</span></h5>
                <h5>Số lượng thuốc còn lại: <span>200 ống</span></h5>
                <h5>Ngày nhập hàng: <span>26-02-2024</span></h5>
                <h5>Ngày xuất hàng gần nhất: <span>27-03-2024</span></h5>
                <h5>Hạn sử dụng: <span>2 Tháng</span></h5>



                <button onclick="window.location.href = 'medicineform.html'"><b>Quản lý thuốc</b></button>
            </div>
        </div>
    </section>

    <!-- start footer  -->
    <section class="footer">
        <div class="footer-container">

            <div class="footer-box">

                <div class="footer-BKUlogo">
                    <img src="./css/img/logo-footer.jpg" alt="">
                    <div class="footer-logo-content">
                        <span>HOSPITAL HCMUT UNIVERSITY</span>
                        <p>Bệnh viện chuyên chăm sóc, hồi sức cho sinh viên BKU :< </p>
                    </div>
                </div>

                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>

                <span>LƯỢT TRUY CẬP: 99,999,999</span>
            </div>

            <div class="footer-box">
                <h3>Thông tin liên hệ hỗ trợ</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> kiet.phantuan17@hcmut.edu.vn </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 1: 268 Lý Thường Kiệt, Phường
                    14, Quận 10, TP. HCM (Bản đồ) </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 2: Khu phố Tân Lập, Phường
                    Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương (Bản đồ)</a>

            </div>

            <div class="footer-box">
                <h3>Truy cập</h3>
                <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
                <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Chức năng </a>
                <a href="#info" class="links"> <i class="fas fa-arrow-right"></i> Thông tin </a>
                <a href="#achieve" class="links"> <i class="fas fa-arrow-right"></i> Thành tựu </a>
                <a href="#contact" class="links"> <i class="fas fa-arrow-right"></i> Liên hệ </a>
            </div>
        </div>

    </section>
    <!-- end footer  -->
    <!-- end footer  -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- custom file js -->
    <script src="./HomeScript.js"></script>
    <script src="../static/effect.js"></script>
</body>



</html>