<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine-Form</title>

    <link rel="stylesheet" href="../static/Style/medicineform.css">
    <link rel="stylesheet" href="../static/Style/headerAndfooter.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <header class="header">
        <a href="#" class="logo">
            <div class="BKUlogo">
                <img src="../static/img/logo.png" alt="">
            </div>
            HCMUT
        </a>

        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#features">Chức năng</a>
            <a href="#info">Thông tin</a>
            <a href="#achieve">Thành tựu</a>
            <a href="#contact">Liên hệ</a>
        </nav>

        <div class="login-btn">
            <button class="user btn">
                <i class="fa-solid fa-user"></i>
                <a href="#">Tài khoản</a>
            </button>
        </div>
    </header>


    <section class="wrapper">
        <h1>THÔNG TIN THUỐC</h1>
    </section>

    <section class="form">
        <div class="search">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" value="" placeholder="ID number">
            <button class="search-btn">Tìm kiếm</button>
        </div>

        <section class="table">
            <div class="table_body">
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>ID</th>
                            <th>Tên thuốc</th>
                            <th>Số lượng</th>
                            <th>Ngày nhập hàng</th>
                            <th>Ngày xuất hàng gần nhất</th>
                            <th>Hạn sử dụng</th>
                            <th>Mô tả sản phẩm</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Phan Tuan Kiet

                            </td>
                            <td>200</td>
                            <td>26-02-2024</td>
                            <td>27-03-2024</td>
                            <td>2 Tháng</td>
                            <td><a href="medicineinfo.html" class="Information">Info</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Phan Tuan Kiet

                            </td>
                            <td>200</td>
                            <td>26-02-2024</td>
                            <td>27-03-2024</td>
                            <td>2 Tháng</td>
                            <td><a href="medicineinfo.html" class="Information">Info</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Phan Tuan Kiet

                            </td>
                            <td>200</td>
                            <td>26-02-2024</td>
                            <td>27-03-2024</td>
                            <td>2 Tháng</td>
                            <td><a href="medicineinfo.html" class="Information">Info</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Phan Tuan Kiet

                            </td>
                            <td>200</td>
                            <td>26-02-2024</td>
                            <td>27-03-2024</td>
                            <td>2 Tháng</td>
                            <td><a href="medicineinfo.html" class="Information">Info</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <section class="button ">
            <a href="#import"><button>Nhập thuốc</button></a>
            <a href="#export"><button>Xuất thuốc</button></a>
        </section>

        <section class="info wrapper" id="import">
            <h1>NHẬP THUỐC</h1>

            <form action="#" method="post" class="FORM" id="FORM">

                <div class="Product">
                    <label for="Name">Tên thuốc:</label><br>
                    <input type="text" id="Name" name="Name" value=""><br>

                    <label for="Amount">Số lượng:</label><br>
                    <input type="text" id="Amount" name="Amount" value=""><br>

                    <label for="Date">Ngày nhập thuốc:</label><br>
                    <input type="date" id="Date" name="Date" value=""><br>

                    <label for="Validated">Hạn sử dụng:</label><br>
                    <input type="date" id="Validated" name="Validated" value=""><br>

                    <label for="Image">Chọn hình ảnh:</label>
                    <input type="file" id="Image" name="Image" accept="image/*"><br>

                    <label for="Is_new">Thuốc mới:
                        <input type="checkbox" id="Is_new" name="Is_new" onchange="DOOM(this)">
                    </label> <br>
                </div>

                <div class="New_Product">
                    <label for="Type">Dạng thuốc:</label>
                    <input type="text" id="Type" name="Type" value="" style="margin-left: 15%;"> <br>

                    <label for="Classify">Nhóm thuốc - Tác dụng:</label>
                    <input type="text" id="Classify" name="Classify" value="" style="margin-left: 3%;"> <br>

                    <div class="text-box">
                        <label for="use_for">Chỉ định:</label>
                        <textarea name="" id="" cols="100" rows="5" style="margin-left: 18.3%;"></textarea> <br>
                    </div>

                    <div class="text-box">
                        <label for="not_use_for">Chống chỉ định:</label>
                        <textarea name="" id="" cols="100" rows="5" style="margin-left: 11.5%;"></textarea> <br>
                    </div>
                </div>

                <section class="button ">
                    <button>Nhập thuốc vào kho</button>
                </section>
            </form>
        </section>

        <section class="info wrapper" id="export">
            <h1>XUẤT THUỐC</h1>

            <form action="" method="get" class="FORM">
                <div class="Product">
                    <label for="Name">Tên thuốc:</label><br>
                    <input type="text" id="Name" name="Name" value=""><br>

                    <label for="Amount">Số lượng:</label><br>
                    <input type="text" id="Amount" name="Amount" value=""><br>

                    <label for="Date">Ngày xuất thuốc:</label><br>
                    <input type="date" id="Date" name="Date" value=""><br>

                    <section class="button ">
                        <button>Xuất thuốc</button>
                    </section>
                </div>
            </form>
        </section>
    </section>







    <section class="footer">
        <div class="footer-container">

            <div class="footer-box">

                <div class="footer-BKUlogo">
                    <img src="./css/img/logo-footer.jpg" alt="">
                    <div class="footer-logo-content">
                        <span>HOSPITAL HCMUT UNIVERSITY</span>
                        <p>Bệnh viện chuyên chăm sóc, hồi sức cho sinh viên BKU :< </p>
                    </div>
                </div>

                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>

                <span>LƯỢT TRUY CẬP: 99,999,999</span>
            </div>

            <div class="footer-box">
                <h3>Thông tin liên hệ hỗ trợ</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> kiet.phantuan17@hcmut.edu.vn </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 1: 268 Lý Thường Kiệt, Phường
                    14, Quận 10, TP. HCM (Bản đồ) </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 2: Khu phố Tân Lập, Phường
                    Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương (Bản đồ)</a>

            </div>

            <div class="footer-box">
                <h3>Truy cập</h3>
                <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
                <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Chức năng </a>
                <a href="#info" class="links"> <i class="fas fa-arrow-right"></i> Thông tin </a>
                <a href="#achieve" class="links"> <i class="fas fa-arrow-right"></i> Thành tựu </a>
                <a href="#contact" class="links"> <i class="fas fa-arrow-right"></i> Liên hệ </a>
            </div>
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

<script>
    let newProductDiv = document.querySelector('.New_Product');

    function DOOM(checkbox) {
        if (checkbox.checked === true) {
            newProductDiv.style.opacity = "1";
            newProductDiv.style.pointerEvents = "auto";
        } else {
            newProductDiv.style.opacity = "0.5";
            newProductDiv.style.pointerEvents = "none";
        }
    }

</script>

</html>